Source: gst-plugins-barcortp
Section: libs
Priority: optional
Maintainer: Marc Leeman <marc.leeman@barco.com>
Uploaders: Marc leeman <marc.leeman@gmail.com>
Build-Depends: debhelper (>= 5), cdbs, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, pkg-config (>= 0.26), gstreamer1.0-tools, libgtk2.0-dev, docbook-to-man, cmake, indent, libglib2.0-dev (>=2.35.5), python (>=2.6)
Homepage: http://www.barco.com/
Standards-Version: 3.7.3

Package: gstreamer1.0-plugins-barcortp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good
Description: GStreamer bin for standardising outgoing data streams
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This plugin standardises media streams to RTP (or other).

