Source: gst-plugins-barcortp@GST_ABI@
Section: libs
Priority: optional
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Uploaders: Loic Minier <lool@dooz.org>,
           Sebastian Dröge <slomo@debian.org>,
           Sjoerd Simons <sjoerd@debian.org>
Build-Depends: @GST_LIB_DEV_DEP@, @GST_EXTRA_BUILD_DEPENDS@, libgstreamer-plugins-base@GST_ABI@-dev (>= 1.4.0), autotools-dev, dh-autoreconf, automake (>= 1.11), autoconf (>= 2.62), libtool (>= 2.2.6), autopoint (>= 0.17), cdbs (>= 0.4.93), debhelper (>= 9), dpkg-dev (>= 1.15.1), pkg-config (>= 0.11.0), gtk-doc-tools (>= 1.12), libglib2.0-dev (>= 2.32), gstreamer@GST_ABI@-plugins-base (>= 1.4.0), gstreamer@GST_ABI@-doc
Standards-Version: 3.9.3
Vcs-Git: git://anonscm.debian.org/pkg-gstreamer/gst-plugins-barcortp@GST_ABI@.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-gstreamer/gst-plugins-barcortp@GST_ABI@.git;a=summary
Homepage: http://gstreamer.freedesktop.org/modules/gst-plugins-barcortp.html

Package: @GST_PKGNAME@-plugins-barcortp
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
         @GST_PKGNAME@-pulseaudio | @GST_PKGNAME@-audiosink,
         gstreamer@GST_ABI@-plugins-base,
Recommends: @GST_PKGNAME@-x
Replaces: gstreamer1.0-plugins-bad (<< 1.1.2)
Breaks: gstreamer1.0-plugins-bad (<< 1.1.2)
XB-GStreamer-Version: ${gstreamer:Version}
XB-GStreamer-Elements: ${gstreamer:Elements}
XB-GStreamer-URI-Sources: ${gstreamer:URISources}
XB-GStreamer-URI-Sinks: ${gstreamer:URISinks}
XB-GStreamer-Encoders: ${gstreamer:Encoders}
XB-GStreamer-Decoders: ${gstreamer:Decoders}
Provides: ${gstreamer:Provides}
Description: GStreamer plugins from the "barcortp" set
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains the GStreamer plugins from the "barcortp" set, a set
 of barcortp-quality plug-ins under the LGPL license.

Package: @GST_PKGNAME@-plugins-barcortp-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: @GST_PKGNAME@-plugins-barcortp (= ${binary:Version}),
         @GST_PKGNAME@-pulseaudio (= ${binary:Version}),
         ${misc:Depends}
Replaces: gstreamer1.0-plugins-bad (<< 1.1.2)
Breaks: gstreamer1.0-plugins-bad (<< 1.1.2)
Description: GStreamer plugins from the "barcortp" set
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.

